/* checkout-styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.checkout-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.checkout-details h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.confirm-rent-btn {
    background-color: #ffcc00;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-rent-btn:hover {
    background-color: #ff9900;
}

.login-container, .payment-container {
    margin-top: 30px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
